# Node.js
node_modules/

# assets - bootstrap, fontawesome
frontend/assets/fontawesome/
frontend/assets/bootstrap/

# data - ostatní obrázky na webu
frontend/data/

# snímky - snímky v galerii
frontend/images/

# electron - build pro desktop
electron/node_modules/
electron/dist/