<!-- FOOTER -->
<footer class="footer bg-dark text-light mt-5 py-4 text-center">
  <div class="container">

    <!-- Copyright -->
    <p class="mb-2">&copy; 2025 Ondřej Malůš</p>
    <p class="mb-3">Všechny pořízené snímky na tomto webu jsou mé vlastní fotografie, jestli není řečeno jinak.</p>

    <!-- Kontakt -->
    <p class="mb-3">
      Našel jsi chybu nebo máš nápad na vylepšení?
      <br>
      Napiš mi na
      <a style="color: #2f8ff5;" href="mailto:astroweb.support@gmail.com">astroweb.support@gmail.com</a>
      <i class="fas fa-envelope"></i>
    </p>

    <!-- Odkazy na sociální sítě -->
    <div class="footer-links mb-2">
      <a href="https://www.instagram.com/astro.maldiik" target="_blank">
        <i class="fab fa-instagram"></i> Instagram
      </a>
      <a href="https://www.youtube.com/@maldiik" target="_blank">
        <i class="fab fa-youtube"></i> YouTube
      </a>
      <a href="https://www.astroimg.com/user/552657325014388739" target="_blank">
        <i class="fas fa-star"></i> AstroImg
      </a>
    </div>

  </div>
</footer>